body {
  background-color: #e6e6e6;
}

.full {
  width: 100%;
  overflow: hidden;
}

.bar {
  background-color: black;
}

.p {
  display: block;
  margin: auto;
}

#contact {
  position: absolute;
  right: 100px;
  top: 10px;
}

#reserver {
  position: absolute;
  right: 600px;
  top: 1250px;
  width: 100px;
  height: 40px;
}

.n-label {
  font-size: 24px;
  font-family: "Myriad Pro", Myriad;
  font-color: #A9A9A9;
}

#specContainer {
  font-size: 20px;
  font-color: #A9A9A9;
  padding-top: 50px;
  padding-left: 750px;
  padding-bottom: 50px;
}

#slogan {
  font-weight: bold;
  font-size: 44px;
  font-stretch: expanded;
  padding-top: 100px;
}

#mainTP {
  padding-left: 400px;
  vertical-align: middle;
}

#nameFront {
  padding-left: 600px;
}

#nameRear {
  padding-left: 600px;
}

#frontPic {
  padding-left: 425px;
}

#rearPic {
  padding-left: 225px;
}
